:root {
    --about-color:cyan;
    --worked-color:purple;
    --built-color:green;
    --timeline-color:red;
    --contact-color:orange;
    --footer-color:blue;
}
/*
section class="sec-about">ABOUT</section>
            <section class="sec-worked"></section>
            <section class="sec-built"></section>
            <section class="sec-timeline"></section>
            <section class="sec-contact"
*/
/*Normalization*/
*,
::before,
::after {
    padding:0;
    margin:0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
}

header {
    background-color:yellow;
    width:100%;
    height:100px;
    display:flex;
    border-bottom:4px solid black;
}

.sec-about {
    /*background-color:var(--about-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}

.sec-worked {
    /*background-color:var(--worked-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}

.sec-built {
    /*background-color:var(--built-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}

.sec-timeline {
    /*background-color:var(--timeline-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}

.sec-contact {
    /*background-color:var(--contact-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}