:root {
    --memoji-background:#313131;
    --memoji-shadow:#313131;
    --anchor-accents:#3083DC;
    --anchor-opacity: 48,131,220;/*Decimal RGB version of the above color*/
    --title-color:#FFFFFF;
    --title-background:#3083DC;
    --title-accent:#0051a8;
    --shadow:#d4d4d4;
    --JetBrains:'JetBrains Mono', monospace;
    --Roboto:'Roboto', sans-serif;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    left: 0.8em;
}

li {
    position: relative;
    padding-left: 22px;
    line-height:1.6em;
}

li:before {
    /*
    The desired width gets defined in two places: The element width, and background size.
    The height only gets defined once, in background size.
    */
    position: absolute;
    display: block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    left: -.75em;
    /*width: .8em; /* desired width of the image */
    width:1.6em;
    height: 1.5em; /* unrelated to image height; this is so it gets snipped */
    background-repeat: no-repeat;
    background-image: url('backhand-index-pointing-right-dark-skin-tone-svgrepo-com.svg');
    /*background-size: .8em 1.4em;*/
    background-size: 1.6em 2.8em;
    background-position: 0 -0.6em;
    /*background-color: red;*/
}

.task_list {
    font-size: 16px;
}




/*Normalization*/
*,
::before,
::after {
    padding:0;
    margin:0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

header {
    width:100%;
    height:100px;
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    border-bottom:4px solid black;
    align-items:center;
}


#logo_hdr {
    /*background: red;*/
    width:200px; 
    height:100px;
    min-width: 100px;
}

.nav_links {
    position: sticky;
    left:1400px;
    margin-right:100px;
    font-family: var(--JetBrains);
}

.nav_links > a {
    padding-left:20px;
    text-decoration: none;
    color:#000000;
}

.resume-button {
    border:2px solid var(--anchor-accents);
    border-radius: 4px;
    padding:5px;
    margin-right:10px;
    text-decoration: none;
    font-family: var(--JetBrains);
    color: var(--anchor-accents);
}

a:hover[type="res-button"] {
    background-color:rgba(var(--anchor-opacity),0.8);
    color:#FFFFFF;
}

.sec-home {
    /*border-bottom:4px solid black;*/
    width:100%;
    height:70vh;
    overflow: hidden;
    min-height: 500px;
    margin-top: 200px;
    /*text-align:left;
    position:relative;
    left:400px;
    margin-top: 270px;*/ /*This causes a bug where borders were leaving gaps on horizontal scroll*/
}

.div_home {
    position:absolute;
    left:20%
}

#home-h4 {
    font-family: var(--JetBrains);
    margin-bottom:10px;
    color:var(--anchor-accents);
}

#home-h1, #home-h1b {
    font-family: var(--Roboto);
    font-size: 5rem;
    font-weight: 900;
    margin-bottom:10px;
}

#home-p1, #home-p2 {
    font-family: var(--Roboto);
    font-size: 1.6rem;
}

#home-p1 {
    margin-bottom: 10px;
}

.see-more_button {
    text-decoration:none;
    border:3px solid var(--anchor-accents);
    border-radius:4px;
    padding:15px 40px;
    position:relative;
    top:40px;
    font-family: var(--JetBrains);
    color: var(--anchor-accents);
}

a:hover[type="more-bttn"] {
    background-color:rgba(var(--anchor-opacity),0.8);
    color:#FFFFFF;
}

.sec-about {
    /*background-color:var(--about-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:800px;  
    display:flex;
    overflow: hidden;
}

#memoji {
    background-color:var(--memoji-background);
    position:relative;
    top:46px;
    border-radius: 8px;
    z-index: 0;
}

.memoji_background {
    width:100%;
    height:80%;
    border:5px solid var(--memoji-shadow);
    border-radius:10px;
    z-index: -1;
    position:absolute;
    top:16px;
    left:-30px;
}

.about-center {
    /*border:2px solid red;*/
    width:1170px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin:0 auto;
}

.about_me_title {
    font-family: var(--Roboto);
    width: fit-content;
    padding:10px 5px;
    position:relative;
    top:-50px;
    background-color:var(--title-background);
    color:var(--title-color);
    box-shadow:7px 7px var(--title-accent);
}

.about-dash {
    width:70%;
    height:5px;
    background-color:var(--anchor-accents);
    position:relative;
    left:130px;
    top:-20px;
}

.about-img {
    margin-left:10px;
    margin-right:50px;
    position:relative;
    top:-55px;
}

.about-info {
    padding-right: 10px;
    font-family: var(--Roboto);
    text-align: justify;
}

.about-info > p {
    line-height:1.5;
}


.sec-worked {
    /*background-color:var(--worked-color);*/
    border-bottom:4px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:800px;
}

.container-worked {
    position:relative;
    left:-100px;
    width:1000px;
    height:700px;
    border: 5px solid red;
}

.worked-title {
    font-family: var(--Roboto);
    background-color:var(--title-background);
    color:var(--title-color);
    width:fit-content;
    padding:10px 5px;
    margin:5px 10px;
    box-shadow: 7px 7px var(--title-accent);
}


.worked-dash {
    width:50%;
    height:5px;
    background-color:var(--anchor-accents);
    position:relative;
    left:231px;
    top:-28px;
}

/*.work_place_1 {
    /*border:2px solid blue;
    font-family: var(--Roboto);
    width:fit-content;
    margin-top:22px;
    margin-left:40px;
    padding:5px 5px;
    background-color:#FFFFFF;
    color:#313131;
    box-shadow: 7px 7px #eaeaea /*#eaeaea;
}*/

.work_place_1 {
    /*border:2px solid blue;*/
    font-family: var(--Roboto);
    width:fit-content;
    /*margin-top:22px;
    margin-left:40px;*/
    margin:22px auto;
    padding:5px 5px;
    background-color:#FFFFFF;
    color:#313131;
    box-shadow: 7px 7px #eaeaea /*#eaeaea*/;
}

.work_duration {
    font-family: var(--JetBrains);
    text-align: center;
    color: var(--title-accent);
}

.org_description {
    width:70%;
    height:fit-content;
    margin:20px auto;
    border:2px solid yellow;
    padding:10px;
    text-align: justify;
    font-family: var(--Roboto);
    line-height:1.5;
    font-size: 14px;
}

.job_tasks {
    border:2px solid orange;
    margin:20px auto;
    width:70%;
    height:fit-content;
    font-family: var(--Roboto);
}

.sec-built {
    /*background-color:var(--built-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}

.sec-timeline {
    /*background-color:var(--timeline-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}

.sec-contact {
    /*background-color:var(--contact-color);*/
    border-bottom:4px solid black;
    width:100%;
    height:300px;
}